<div class="background">
  <div class="gradient">
    <div class="container">
      <h1>{{ 'anms.title' | translate }}</h1>
      <div class="actions">


        <mat-grid-list cols="3" rowHeight="2:1" colspan="2" class="photo-controls">
          <mat-grid-tile>
            <div *ngIf="pic1Uploaded">
              todo: recyclable type?
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <img *ngIf="pic1Uploaded"
              [src]="pic1Content" alt="Pic 1" style="width: 200px;" />
            <a *ngIf="!pic1Uploaded"
              [ngClass]="routeAnimationsElements"
               mat-raised-button class="actions-main" color="primary"
               (click)="photoInput1.click()">
              Upload photo 1
            </a>
            <input hidden type="file" #photoInput1 (change)="uploadPhoto($event, 1)"/>
          </mat-grid-tile>
          <mat-grid-tile rowspan="2">

            <a [ngClass]="routeAnimationsElements"
               mat-raised-button class="actions-main" color="secondary"
               (click)="collide()"
            [disabled]="!pic1Uploaded || !pic2Uploaded">
              Collide the photos
            </a>

          </mat-grid-tile>

          <mat-grid-tile>
            <div *ngIf="pic2Uploaded">
              todo: recyclable type?
            </div>
          </mat-grid-tile>
          <mat-grid-tile>

            <img *ngIf="pic2Uploaded"
                 [src]="pic2Content" alt="Pic 2" style="width: 200px;" />
            <a *ngIf="!pic2Uploaded"
               [ngClass]="routeAnimationsElements"
               mat-raised-button class="actions-main" color="primary"
               (click)="photoInput2.click()">
              Upload photo 2
            </a>
            <input hidden type="file" #photoInput2 (change)="uploadPhoto($event, 2)"/>
          </mat-grid-tile>

        </mat-grid-list>

        <br>
      </div>
    </div>
  </div>
</div>
<div class="container">

  <h2>The Real CERN - Large Hydron Collider</h2>
  <p>
    The LHC is a particle accelerator that pushes protons or ions to near the speed of light. It consists of a 27-kilometre ring of superconducting magnets with a number of accelerating structures that boost the energy of the particles along the way.
  </p>

  <h2>The Paradox</h2>
  <p>
    Everytime protons colide, the results are slightly different. They vary so much in fact, that a reliable way to predict or calculate the result is currently not possible. Even though, we collide seemingly identical material (or equally recyclable material), the results of the collissions differ. Why? We don’t know yet.
  </p>

  <h2>CERN - Power Consumption</h2>
  <p>
    The total CERN energy consumption is 1.3 TWh per year while the total electrical energy production in the world is around 20000 TWh, in the European Union 3400 TWh, in France around 500 TWh, and in Geneva canton 3 TWh.
  </p>

  <h2>Why Green Object Collider?</h2>
  <p>
    Green Object Collider highlights the paradox of combinding two materials. Two protons smashed together result in everything from Gamma Rays to Higgs Boson, while two plastic bottles can result in unicorns or a water fall… Theres simply much more to learn about our world.
  </p>
</div>
