<mat-sidenav-container>



  <div class="toolbar">
    <mat-toolbar color="primary">

      <span routerLink="" class="branding spacer d-none d-md-inline">
        <img [src]="logo"/></span>


      <a mat-button href="#lhr">The LHR</a>|
      <a mat-button href="#realcern">The Real Cern</a>
  <!--
        <span class="d-none d-md-inline">
            <button mat-button class="nav-button" *ngFor="let item of navigation"
                    [routerLink]="[item.link]" routerLinkActive="active">
              {{item.label | translate}}
            </button>
          </span>-->

      <!--<button mat-button class="sign-in-button "-->
              <!--*ngIf="!isAuthenticated"-->
              <!--(click)="onLoginClick()">-->
        <!--{{ 'anms.menu.login' | translate }}-->
      <!--</button>-->

      <!--<button *ngIf="isAuthenticated"-->
              <!--mat-icon-button-->
              <!--[matMenuTriggerFor]="toolbarUserMenu">-->
        <!--<mat-icon fontSet="fas" fontIcon="fa-user-circle"></mat-icon>-->
      <!--</button>-->

    </mat-toolbar>
  </div>

  <div class="wrapper">

    <div class="content"
         [@routeAnimations]="o.isActivated && o.activatedRoute.routeConfig.path">
      <router-outlet #o="outlet"></router-outlet>
    </div>

    <div class="footer">
      <div class="row">
        <div class="col-sm-12 links">
          <a href="http://twitter.com/cern" target="_blank">
            <mat-icon fontSet="fab" fontIcon="fa-twitter"></mat-icon>
            <span>Twitter</span>
          </a>
          <a href="http://youtube.com/cern"
             target="_blank">
            <mat-icon fontSet="fab" fontIcon="fa-youtube"></mat-icon>
            <span>Youtube</span>
          </a>
          <a href="https://instagram.com/cern/" target="_blank">
            <mat-icon fontSet="fab" fontIcon="fa-instagram"></mat-icon>
            <span>Instagram</span>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-12 signature">
          &#169; <span class="year">{{year}}</span> - CERN & Co
        </div>
      </div>
    </div>

  </div>

</mat-sidenav-container>


